*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

li{
  list-style: none;
}

.call-to-action{
  width: calc(100% - 150px);
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  background-color: #181821;
  z-index: 999;
}

.call-to-action button{
  float: right;
  font-size: 8px;
  padding: 10px 20px 10px 20px;
  background-color:#181821;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 13px;
  margin-right: 5px;
}

.call-to-action button:hover{
  font-size: 9px;
}

.logo{
 height: 60px;
}

#logo-desktop{
  cursor: pointer;
  width: 110px;
  height: 50px;
  margin-left: 8px;
}

#logo-mobile{
  width: 23px;
  height: 23px;
  display: none;
  cursor: pointer;
}

.container{
  width: 100%;
  height: 100vh;
}

.aside{
  width: 150px;
  height: calc(100% - 60px);  
  background-color: black;
  color: #726868;
  float: left;
  overflow: hidden;
}

.header-nav {
  height: 135px;
}

.footer-nav{
  height: 75px;
}

.header-nav li img, .footer-nav li img {
  height: 18px;
  vertical-align: middle;
}

.main-nav{
  margin-top: 15px;
  height: calc(100% - 210px);
  overflow: auto;
}

h5{
  font-size: 11px;
  color: white;
  cursor:auto;
}

.header-nav li, .main-nav li, .footer-nav li{
  margin: 5px 5px 10px 8px;
  font-size: 10px;
  font-weight: bold;
}

.header-nav li, .main-nav li, main .menu ul li, .footer-nav li:not(#john-doe){
  cursor: pointer;
}

#john-doe{
  filter: brightness(300);
}


.main-nav li .plus{
  padding: 0 8px 0 8px;
  background-color:#646161;
  color: black;
  font-size: 20px;
  vertical-align: middle;
}


.header-nav li:hover, .main-nav li:hover, .footer-nav li:hover, main .menu ul li:hover{
  filter: brightness(300%);
}

.oriz-line{
  width:87%;
  margin: 0 auto;
  height: 1px;
  background-color: #646161;
}

.footer-nav li img{
  height: 14px;
  vertical-align: middle;
}

main{
  width: calc(100% - 150px);
  height: calc(100% - 60px);  
  background-color: #23272F;
  float: left;
  overflow: auto;
  padding-top:60px;
}

main .menu ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .menu ul li{
  margin-right: 15px;
  margin-top:10px;
  font-size: 10px;
  color: #818289;
  font-weight: bold;
}

h2{
  padding-top: 50px;
  margin-left: 20px;
  color: white;
  font-size: 17px;
}

.subtitle{
  margin-left: 20px;
  margin-top: 5px;
  color: #818289;
  font-size: 8px;
  font-weight: bold;
}


.album{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin: 20px 20px 20px 20px;
}

.invisible{
  visibility:hidden;
}

.box{
  width: 11.5vw;
  height: 11.5vw;
  background-color: red;
  flex-shrink: 0;
}

.box.radius{
  border-radius: 50%;
  overflow: hidden;
}

.box img{
  width: 100%;
}

.box h6{
  text-align: center;
  color:white;
}

.box p{
  font-size: 8px;
  color: #818289;
  text-align: center;
}



/* RESPONSIVE */

@media (max-width:780px){

  .album{
    justify-content:flex-start;
  }

  .box{
    width: 15.1vw;
    height: 15.1vw;
    margin: 20px 3px;
  }

.invisible.fifth, .invisible.sixth{
  display: none;
}

}

@media (max-width:576px){

  .album{
    justify-content:center;
    margin-left: 1px;
    margin-right:1px;
  }

  .box{
    width: 37vw;
    height: 37vw;
    margin: 20px 3px;
  }

  .invisible.three, .invisible.four{
    display: none;
  }


  .call-to-action{
    width: calc(100% - 50px);
  }

  .aside{
    width: 50px;
  }

  .logo{
    text-align: center;
   }
   

  #logo-desktop{
    display: none;
  }

  #logo-mobile{
    display: inline-block;
    margin-top: 15px;
  }

  .main-nav{
    visibility: hidden;
  }

  main{
    width: calc(100% - 50px);
  }

  .header-nav li, .main-nav li, .footer-nav li{
    margin: 0;
  }
  
  nav span{
    display: none;
  }

  nav li{
    text-align: center;
  }

  nav .header-nav li img{
    margin-bottom: 15px;
  }

nav .footer-nav li:first-child{
  padding-bottom:10px;
  }

 .oriz-line{
   display: none;
  }

